@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  height: 14% !important;
}
.header-wrapper {
  width: 100%;
  height: 700px;
  background: #fff6f0;
  background-image: url('https://raw.githubusercontent.com/ProgrammingHero1/portfolio-resources/refs/heads/main/images/header_bg.png');
  background-size: 50% 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo span {
  color: #ff6f00;
}
nav a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
}
.hire-btn {
  background: #ff6f00;
  color: #fff !important;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Hero Section */
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 86% !important ;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-dev {  
  background-image: url('https://raw.githubusercontent.com/ProgrammingHero1/portfolio-resources/refs/heads/main/images/developer.png');
  background-position: 50px center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero-left {
  max-width: 50%;
  margin: auto 0;
}
.intro {
  font-size: 20px;
  color: #555;
}
.hero-left h1 {
  font-size: 48px;
  font-weight: bold;
}
.desc {
  margin: 15px 0;
  color: #666;
}
.buttons {
  margin-top: 20px;
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
.orange {
  background: #ff6f00 !important;
  color: #fff !important; 
}
.border-orange {
  border: 2px solid #ff6f00 !important;
  color: #ff6f00 !important;
}
.hero-right {
  max-width: 50%;
  display: flex;
  justify-content: right;
  align-items: end;
  height: 100%;
}
.hero-image {
  width: 450px;
  border-radius: 10px;
}

/* About Section */
.about {
  padding: 50px;
  text-align: center;
  background: #fff6f0;
  margin-top: 100px;
}

.about-infos {
  max-width: 1000px;
  font-family: "Inter", sans-serif;
  border: 1px solid #000000 !important;
  background: #ffffff;
}

.about-info {
  margin-top: 20px;
}

.about-infos p {
  margin: 5px 0;
  color: #7c7c7c;
  font-weight: 400;
  font-size: 17px;
}
.about-infos p strong {
  color: #494949 !important;
}

/* Skills Section */
.skills {
  padding: 50px;
  text-align: center;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.skill {
  background: #fff;
  margin: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.skill i {
  font-size: 40px;
  color: #ff6f00;
  margin-bottom: 10px;
}

/* Resume Section */
.resume {
  padding: 50px;
  text-align: center;
}
.resume-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}
.resume-col {
  max-width: 300px;
  text-align: left;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background: #fff6f0;
}
.connect {
  max-width: 40%;
}
.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #333;
}
.message-form input,
.message-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.message-form button {
  padding: 10px 20px;
  background: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Footer */
.footer-message-form input , textarea {
  border: none !important;
}